-r ../shared/requirements.txt

# Database
pymongo

# AI/ML Libraries
langchain
langchain-google-genai
langchain-pinecone
langchain-core
langchain-huggingface
pydantic
google-ai-generativelanguage

# Vector Database
pinecone

# Embeddings
sentence-transformers==2.2.2

# Web Framework
fastapi